/*Downloaded font added*/
@font-face {
  font-family: "Allerta";
  src: url("/assets/fonts/AllertaStencil/AllertaStencil-Regular.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Allerta;

    /*Imagen de fondo de la carpeta assets y con las configuraciones necesarias para que la imagen se adapte al fondo, no se mueva, no se repita y este centrada*/
    background-image: url("../assets/imgs/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.container {
  width: 100%;
  padding: 10px;
  animation: aparecer 1s ease-out;
  
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2d0000;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}


.head-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.head-actions {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
}

.head h1 {
  margin: 10px;
}

.total-price-label{
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 10ch;
  animation: writting 1s steps(10), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.home {
  font-size: 50px;
  transition: 0.5s;
  &:hover {
    font-size: 60px;
  }
}
.head-actions input {
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.head button,
.btn-form {
  background-color: #e6a8a8;
  color: #2d0000;
  border: 2px solid #2d0000;
  margin-left: 10px;
}

.head button:hover {
  background-color: #2d0000;
  color: #e6a8a8;
  border: 2px solid #e6a8a8;
}

.btn-form:hover {
  background-color: #2d0000;
  color: #e6a8a8;
  border: 2px solid #e6a8a8;
}

.radio-group {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.radio-group select {
  width: 100%;
  border-radius: 5px;
  font-size: large;
}

.content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up-row,
.bottom-row {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 120px;
}

.inventory,
.actionFilter,
.actionAdd,
.actionEdit {
  width: 400px;
  height: 350px;
  background-color: #2d00006c;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: Allerta;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  background: linear-gradient(90deg, #df7777, 10%, #e9d0d0);
  background-color: #f6f9ed;
  &:hover {
    animation: rotateImage 0.5s linear 1;
  }
}

h2 {
  padding: 5px;
}

.content img {
  width: 250px;
  height: 300px;
  transition: 0.5s;
  &:hover {
    width: 200px;
    height: 250px;
  }
}

footer {
  margin: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.title {
  font-family: sans-serif;
}

button {
  margin: 2% 2% 2% 2%;
  background-color: #2d0000;
  border: 1px solid #2d0000;
  color: #e6a8a8;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: #e9d0d0;
    color: #2d0000;
  }
}

/*inventory.html*/
.inventoryT {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: Allerta;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background: linear-gradient(90deg, #df7777, 10%, #e9d0d0);
  background-color: #f6f9ed;
}

.inventory-table th {
  background-color: #2d0000;
  color: white;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid #2d0000;
  padding: 8px;
  text-align: center;
}
.inventory-table tr:hover {
  background-color: #2d000086;
  color: #e9d0d0;
}
.inventory-table tr:hover button {
  background-color: #e9d0d0;
  color: #2d0000;
  border: 1px solid #2d0000;
}

.found {
  background-color: #2d0000ae;
  color: #e9d0d0;
}

.found button {
  background-color: #e9d0d0;
  color: #2d0000;
  border: 1px solid #2d0000;
}

.add-form {
  width: 100%;
  display: flex;
  border-radius: 3px;
  background-color: #2d0000;
}
.add-form {
  width: 100%;
  padding-left: 20px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-form label {
  margin-left: 8px;
}

.add-form input {
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.btn-form {
  width: 150px;
  min-width: 150px;
}

.hidden {
  display: none;
}

.total-price {
  display: flex;
  flex-direction: column;
}

th{
  cursor: pointer;
}

/*Pseudoselector que pone la primera letra en negrita de la penultima fila de la tabla en negrita y un poco mas grande, en este casi será el simbolo de dolar*/
td:nth-child(4)::first-letter{
  font-size: larger;
  font-weight: bold;
}
/*Pseudoelemento seleccionará la primera celda dentro de los tds que haya en un tr*/
td:first-child{
  font-weight: bold;
}

/*Este keyframe hara que el titulo de la pagina aparezca como si se estuviese escribiendo*/
@keyframes writting {
  0% {
    width: 0;
  }
  100% {
    width: 10ch;
  }
}

/*Este keyframe hara como que la linea esta parpadeando, al final de la linea escrita, de forma similar a cuando escribimos en word*/
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*Keyfram que hace aparecer lentamente el contenido de la pagina*/
@keyframes aparecer {
  0% {
    opacity: 0;
    /*transformacion vertical*/
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*Keyframe que rota la una imagen*/
@keyframes rotateImage {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
